
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <div class="text-center mb-3">
            <br><p>Sign in with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
    
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
    
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
    
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
    
          <p class="text-center">or:</p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="text-black" class="btn-block">Login</button>
        <p><br>
          <a href="#!" class="forgot">forgot your password?</a>
        </p>
        <h4>Don't have an account ! Sign Up Now</h4>
       <div class="example-button-row">
       <a mat-raised-button [routerLink]="['/register_customer']" color="text-black" class="btn-block1">Register for a Customer</a>
       <a mat-raised-button color="text-black" [routerLink]="['/register_avatar']" class="btn-block1">Register for an Avatar</a>
       </div>
      </form>






    </mat-card>
  </div>











  

