

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Register for a Customer</h3>
          <p class="card-text">you want to organize your events
            and you don't know how
            here is the solution
            register now</p>
          <a [routerLink]="['/register_customer']" class="btn btn-primary">Register for a Customer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Register for an Avatar</h3>
          <p class="card-text">find your happiness now</p><br>
          <a [routerLink]="['/register_avatar']" class="btn btn-primary">Register for an Avatar</a>
        </div>
      </div>
    </div>
  </div>
  