<mat-nav-list>
    <div class="profile-card">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
       
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>home</mat-icon>Dashboard </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/form"><mat-icon>add</mat-icon>Start a mission</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list"><mat-icon>list</mat-icon>Pending missions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/done_missions"><mat-icon>done</mat-icon>done missions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/can_missiosn">	<mat-icon>clear</mat-icon>canceled missions</a>





</mat-nav-list>